<% content_for(:title, "Contact | Wikipages") %>

<h1>Here is <%= @contact.name%>'s contact informaiton:</h1>

<p>Main Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>

<h1><%= @contact.name %></h1>

<p>Alternative Phones:</p>

<ul>
  <% @contact.phones.each do |phone| %>
    <li>
      <%= phone.number %> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
         data-confirm="You sure?"
         data-method="delete"
         rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>

<button><a href="/contacts/<%= @contact.id %>/phones/new">Add Phone</a></button>


<p><button><a href="/contacts">Click Here</a></button> to return to contacts.</p>
<p><button><a href="/contacts/<%= @contact.id %>/edit">Click Here</a></button> to edit this contact.</p>
<p><button><a href="/contacts/<%= @contact.id %>"
	data-confirm="You sure?"
	data-method="delete"
	rel="nofollow">Click Here</a></button> to DELETE.</p>