<body background="/assets/swirl_pattern.png">
  <div class="container">
    <% content_for(:title, "Contact | Wikipages") %>

    <h1>Here is <%= @contact.name%>'s contact informaiton:</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2><%= @contact.name %></h2>
        </div>
        <div class="panel-body">
          <h4>Main Phone: <%= @contact.phone %></h4>
          <h4>Email: <%= @contact.email %></h4>
        </div>
      </div>

    <p><strong>Alternative Phones:</strong></p>

    <ul>
      <% @contact.phones.each do |phone| %>
        <li>
          <%= phone.number %> |
          <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a> |
          <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
             data-confirm="You sure?"
             data-method="delete"
             rel="nofollow">Delete</a>
        </li>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Add Alt Number:</h4>
        <a class="btn btn-primary" role="button" href="/contacts/<%= @contact.id %>/phones/new">Click Here</a>
      </div>
      <div class="col-md-3">
        <h4>Contact List:</h4>
        <a class="btn btn-primary" role="button" href="/contacts">Click Here</a>
      </div>
      <div class="col-md-3">
        <h4>Edit Contact:</h4>
        <a class="btn btn-primary" role="button" href="/contacts/<%= @contact.id %>/edit">Click Here</a>
      </div>
      <div class="col-md-3">
        <h4>Delete Contact:</h4>
        <a class="btn btn-danger" href="/contacts/<%= @contact.id %>"
        	data-confirm="You sure?"
        	data-method="delete"
        	rel="nofollow">Click Here</a>
      </div>
    </div>
  </div>
</body>